section  {
    height: calc(100dvh - 200px);
}

#description  {
    text-align: center;
    font-size: 1.1em;
    color: var(--white);
    padding: 0 2rem;
}

#image-container {
    margin-top: 60px;
    text-align: center;
}

img {
    width: 40rem;
}

@media screen and (max-width: 768px) {
    img {
        width: 20rem;
    }
}