a {
    text-decoration: none;
}
div {
    text-align: center;
}

img {
    width: 40px;
    border-radius: 99%;
    background-color: white;
}

p {
    margin: 0;
    font-size: .5rem;
    font-weight: 600;
    color: var(--white);
}