#phone-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  #phone-button i {
    position: absolute;
    color: var(--black);
  }
  
  :ng-deep .p-tooltip-text {
    padding: 5px;
  }
  
  #phone {
    position: fixed;
    bottom: 10px;
    right: -100%;
    --border-radius-inner: calc(2rem - 0.5rem);
    box-shadow: 0px 0px 0px 2px white;
    background-color: black;
    border-radius: 2rem;
    padding: 0.5rem;
    width: min(200px);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/2;
    margin-inline: auto;
    transition: .5s;
  }
  
  #phone.active {
    right: 80px;
    transition: .5s;
  }
  
  #screen {
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    padding: 10px 0;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    background-image: url('https://wallpapers.com/images/featured/iphone-wltnz5o1xymafqmo.jpg');
    background-position: center;
    background-size: cover;
  }
  
  #screen::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
  }
  
  #camera {
    width: 60px;
    height: 15px;
    border-radius: 99px;
    background-color: black;
    position: fixed;
    z-index: 999;
  }

  #app-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 10px;
  }
  
  #bar {
    width: 100px;
    height: 5px;
    border-radius: 99px;
    background-color: black;
    position: fixed;
    bottom: 25px;
    z-index: 999;
  }