<header>
  <h1 id="hero-title">Franklin Tate</h1>
  <h3 id="sub-title">The cryptocurrency that came out before GTA VI</h3>
  <nav id="navbar">
    <ul>
      <a routerLink="/about">
        <li>About</li>
      </a>
      <a routerLink="/about">
        <li>Roadmap</li>
      </a>
      <a routerLink="/about">
        <li>Contract</li>
      </a>
      <a routerLink="/about">
        <li>Games</li>
      </a>
      <a routerLink="/about">
        <li>Memes</li>
      </a>
    </ul>
  </nav>
</header>
