<p-card [header]="car.name">
  <img [src]="car.image_url" alt="car image" />
  <p>Acceleration: {{ car.acceleration }}</p>
    <p>Handling: {{ car.handling }}</p>
    <p>Max Speed: {{ car.max_speed }}</p>
    <p>Price: {{ car.price }}</p>

    <p-button label="Buy" (onClick)="showDialog()"/>
</p-card>

@if (visible) {
  <video autoplay>
    <source src="../../../assets/videos/andrew.mp4" type="video/mp4">
    <source src="../../../assets/videos/andrew.ogv" type="video/mp4">
    <source src="../../../assets/videos/andrew.webm" type="video/mp4">
    Sorry, your browser doesn't support embedded videos.
  </video>
}

