@import "primeicons/primeicons.css";

@font-face {
  font-family: "GtaFont";
  src: url("./assets/fonts/pricedownbl.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #0d1321;
  --white: #ffeddf;
  --blue: #afe0ce;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--black);
  overflow-x: hidden;
}

section {
  width: 100%;
  min-height: calc(100dvh - 200px);
}

.section-title {
    position: relative;
    font-family: "GtaFont";
    color: orange;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .section-title {
    position: relative;
    font-family: "GtaFont";
    color: orange;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}
}

@media screen and (max-width: 640px) {
  .section-title {
    font-weight: 400;
  }
}
